<% include ./partials/header %>
<section class="container is-fullheight is-dark">
  <h1 class="title is-2">Welcome <%= user.nickname %> !</h1>

  <button class="button is-rounded" onclick="logout()">Logout</button>
</section>
<% include ./partials/footer %>